# Relax Data Challenge

In [99]:
import pandas as pd

In [100]:
df1 = pd.read_csv("takehome_users.csv", index_col = 0, encoding='iso-8859-1')

In [101]:
df1.shape

(12000, 9)

In [102]:
df1.columns

Index(['creation_time', 'name', 'email', 'creation_source',
       'last_session_creation_time', 'opted_in_to_mailing_list',
       'enabled_for_marketing_drip', 'org_id', 'invited_by_user_id'],
      dtype='object')

In [103]:
df1.head()

,creation_time,name,email,creation_source,last_session_creation_time,opted_in_to_mailing_list,enabled_for_marketing_drip,org_id,invited_by_user_id
object_id,,,,,,,,,
1,2014-04-22 03:53:30,Clausen August,AugustCClausen@yahoo.com,GUEST_INVITE,1.398139e+09,1,0,11,10803.0
2,2013-11-15 03:45:04,Poole Matthew,MatthewPoole@gustr.com,ORG_INVITE,1.396238e+09,0,0,1,316.0
3,2013-03-19 23:14:52,Bottrill Mitchell,MitchellBottrill@gustr.com,ORG_INVITE,1.363735e+09,0,0,94,1525.0
4,2013-05-21 08:09:28,Clausen Nicklas,NicklasSClausen@yahoo.com,GUEST_INVITE,1.369210e+09,0,0,1,5151.0
5,2013-01-17 10:14:20,Raw Grace,GraceRaw@yahoo.com,GUEST_INVITE,1.358850e+09,0,0,193,5240.0

In [104]:
df2 = pd.read_csv("takehome_user_engagement.csv", index_col =0)

In [105]:
df2.shape

(207917, 2)

In [106]:
df2.columns

Index(['user_id', 'visited'], dtype='object')

In [107]:
df2.head()

                     user_id  visited
time_stamp
2014-04-22 03:53:30        1        1
2013-11-15 03:45:04        2        1
2013-11-29 03:45:04        2        1
2013-12-09 03:45:04        2        1
2013-12-25 03:45:04        2        1

In [108]:
df2 = df2.reset_index()

In [109]:
df2.nunique()

time_stamp    207220
user_id         8823
visited            1
dtype: int64

In [110]:
#first observation is that time_stamp in df2 is the same as creation_time in df1

In [111]:
#merging two dataframes
df = pd.merge(df1, df2, left_on = 'object_id', right_on = 'user_id')

In [112]:
df.head()

,creation_time,name,email,creation_source,last_session_creation_time,opted_in_to_mailing_list,enabled_for_marketing_drip,org_id,invited_by_user_id,time_stamp,user_id,visited
0,2014-04-22 03:53:30,Clausen August,AugustCClausen@yahoo.com,GUEST_INVITE,1.398139e+09,1,0,11,10803.0,2014-04-22 03:53:30,1,1
1,2013-11-15 03:45:04,Poole Matthew,MatthewPoole@gustr.com,ORG_INVITE,1.396238e+09,0,0,1,316.0,2013-11-15 03:45:04,2,1
2,2013-11-15 03:45:04,Poole Matthew,MatthewPoole@gustr.com,ORG_INVITE,1.396238e+09,0,0,1,316.0,2013-11-29 03:45:04,2,1
3,2013-11-15 03:45:04,Poole Matthew,MatthewPoole@gustr.com,ORG_INVITE,1.396238e+09,0,0,1,316.0,2013-12-09 03:45:04,2,1
4,2013-11-15 03:45:04,Poole Matthew,MatthewPoole@gustr.com,ORG_INVITE,1.396238e+09,0,0,1,316.0,2013-12-25 03:45:04,2,1

In [113]:
#This is the numbers of customers that opted for a particular method of sign up 
df['creation_source'].value_counts()

ORG_INVITE            70091
GUEST_INVITE          46796
SIGNUP                37545
SIGNUP_GOOGLE_AUTH    34263
PERSONAL_PROJECTS     19222
Name: creation_source, dtype: int64

In [114]:
#the majority of the users are not enabled for the marketing drip
df['enabled_for_marketing_drip'].value_counts()

0    175787
1     32130
Name: enabled_for_marketing_drip, dtype: int64

In [115]:
#maybe enabling for marketing drip has something to do with creation source

In [116]:
#adopted user has logged in to the service on three separate days during a seven day period

In [117]:
df.head()

,creation_time,name,email,creation_source,last_session_creation_time,opted_in_to_mailing_list,enabled_for_marketing_drip,org_id,invited_by_user_id,time_stamp,user_id,visited
0,2014-04-22 03:53:30,Clausen August,AugustCClausen@yahoo.com,GUEST_INVITE,1.398139e+09,1,0,11,10803.0,2014-04-22 03:53:30,1,1
1,2013-11-15 03:45:04,Poole Matthew,MatthewPoole@gustr.com,ORG_INVITE,1.396238e+09,0,0,1,316.0,2013-11-15 03:45:04,2,1
2,2013-11-15 03:45:04,Poole Matthew,MatthewPoole@gustr.com,ORG_INVITE,1.396238e+09,0,0,1,316.0,2013-11-29 03:45:04,2,1
3,2013-11-15 03:45:04,Poole Matthew,MatthewPoole@gustr.com,ORG_INVITE,1.396238e+09,0,0,1,316.0,2013-12-09 03:45:04,2,1
4,2013-11-15 03:45:04,Poole Matthew,MatthewPoole@gustr.com,ORG_INVITE,1.396238e+09,0,0,1,316.0,2013-12-25 03:45:04,2,1

In [118]:
grouped = df.groupby('user_id').count()['visited']
grouped

user_id
1         1
2        14
3         1
4         1
5         1
         ..
11996     1
11997     1
11998     1
11999     1
12000     1
Name: visited, Length: 8823, dtype: int64

In [119]:
df['time_stamp'] = pd.to_datetime(df['time_stamp'], format='%Y-%m-%d')

In [120]:
more_than_one = grouped[grouped != 1]
selected = pd.DataFrame(more_than_one).reset_index()

In [121]:
selected

      user_id  visited
0           2       14
1          10      284
2          19        2
3          20        7
4          25        2
...       ...      ...
2583    11975      216
2584    11980        8
2585    11981        4
2586    11988       30
2587    11991        5

[2588 rows x 2 columns]

In [122]:
df_frequent = pd.merge(df, selected, on = 'user_id')

In [128]:
#these are the frequent site visitors
df_frequent.shape

(201682, 13)

In [126]:
df_sparse = df[~df.isin(df_frequent)]

In [127]:
#these are the single sight visitors
df_sparse.shape

(207917, 12)